<a href="https://colab.research.google.com/github/jsbohorquez/Project-2-FinTech/blob/main/Copy_of_SVR_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance 
!pip install numpy
!pip install -U scikit-learn
!pip install pandas 
!pip install hvplot
!pip install matplotlib.pyplot as plt
!pip install holoviews as hv 
!pip install pathlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.72)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: hvplot in /usr/local/lib/python3.7/dist-packages (0.8.0)
Requirement already satisfied: holoviews>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from hvplot) (1.14.9)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from hvplot) (1.3.5)
Requirement already satisfied: bokeh>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from hvplot) (2.3.3)
Requirement already satisfied: colorcet>=2 in /usr/local/lib/python3.7/dist-packages (from hvplot) (3.0.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from hvplot) (1.21.6)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from hvplot) (21.3)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->hvplot) (7.1.2)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->hvplot) (4.1.1)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->hvplot) (3.13)
Requirement already satisfied: Jinja2>=2.9 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->hvplot) (2.11.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->hvplot) (2.8.2)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->hvplot) (5.1.1)
Requirement already satisfied: param>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from colorcet>=2->hvplot) (1.12.1)
Requirement already satisfied: pyct>=0.4.4 in /usr/local/lib/python3.7/dist-packages (from colorcet>=2->hvplot) (0.4.8)
Requirement already satisfied: pyviz-comms>=0.7.4 in /usr/local/lib/python3.7/dist-packages (from holoviews>=1.11.0->hvplot) (2.2.0)
Requirement already satisfied: panel>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from holoviews>=1.11.0->hvplot) (0.12.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=2.9->bokeh>=1.0.0->hvplot) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->hvplot) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->hvplot) (2022.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from panel>=0.8.0->holoviews>=1.11.0->hvplot) (2.28.1)
Requirement already satisfied: markdown in /usr/local/lib/python3.7/dist-packages (from panel>=0.8.0->holoviews>=1.11.0->hvplot) (3.3.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from panel>=0.8.0->holoviews>=1.11.0->hvplot) (5.0.0)
Requirement already satisfied: tqdm>=4.48.0 in /usr/local/lib/python3.7/dist-packages (from panel>=0.8.0->holoviews>=1.11.0->hvplot) (4.64.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->bokeh>=1.0.0->hvplot) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->panel>=0.8.0->holoviews>=1.11.0->hvplot) (0.5.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown->panel>=0.8.0->holoviews>=1.11.0->hvplot) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown->panel>=0.8.0->holoviews>=1.11.0->hvplot) (3.8.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (2022.6.15)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement matplotlib.pyplot (from versions: none)
ERROR: No matching distribution found for matplotlib.pyplot
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: holoviews in /usr/local/lib/python3.7/dist-packages (1.14.9)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pathlib in /usr/local/lib/python3.7/dist-packages (1.0.1)

In [ ]:
import numpy as np 
from sklearn.svm import SVR
import matplotlib.pyplot as plt
import pandas as pd
import hvplot.pandas 
import holoviews as hv 
import yfinance as yf
from pathlib import Path

In [ ]:
sp500 = yf.Ticker('^GSPC')

In [ ]:
sp500.info

{'algorithm': None,
 'ask': 3819.46,
 'askSize': 0,
 'averageDailyVolume10Day': 4566271000,
 'averageVolume': 4039706774,
 'averageVolume10days': 4566271000,
 'beta': None,
 'bid': 3733.31,
 'bidSize': 0,
 'circulatingSupply': None,
 'coinMarketCapLink': None,
 'currency': 'USD',
 'dayHigh': 3818.99,
 'dayLow': 3738.67,
 'dividendRate': None,
 'dividendYield': None,
 'exDividendDate': None,
 'exchange': 'SNP',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'expireDate': None,
 'fiftyDayAverage': 4032.0374,
 'fiftyTwoWeekHigh': 4818.62,
 'fiftyTwoWeekLow': 3636.87,
 'fiveYearAvgDividendYield': None,
 'forwardPE': None,
 'fromCurrency': None,
 'gmtOffSetMilliseconds': '-14400000',
 'isEsgPopulated': False,
 'lastMarket': None,
 'logo_url': '',
 'market': 'us_market',
 'marketCap': None,
 'maxAge': 1,
 'maxSupply': None,
 'messageBoardId': 'finmb_INDEXGSPC',
 'navPrice': None,
 'open': 3785.99,
 'openInterest': None,
 'payoutRatio': None,
 'preMarketPrice': None,
 'previousClose': 3818.83,
 'priceHint': 2,
 'priceToSalesTrailing12Months': None,
 'quoteType': 'INDEX',
 'regularMarketDayHigh': 3818.99,
 'regularMarketDayLow': 3738.67,
 'regularMarketOpen': 3785.99,
 'regularMarketPreviousClose': 3818.83,
 'regularMarketPrice': 3785.38,
 'regularMarketVolume': 2683771000,
 'shortName': 'S&P 500',
 'startDate': None,
 'strikePrice': None,
 'symbol': '^GSPC',
 'toCurrency': None,
 'totalAssets': None,
 'tradeable': False,
 'trailingAnnualDividendRate': None,
 'trailingAnnualDividendYield': None,
 'twoHundredDayAverage': 4396.826,
 'volume': 2683771000,
 'volume24Hr': None,
 'volumeAllCurrencies': None,
 'yield': None,
 'ytdReturn': None}

In [ ]:
# get historical market data
sp500_df = sp500.history(period='max')
sp500_df = sp500_df.drop(columns=['Dividends', 'Stock Splits'], axis=1)
sp500_df.tail()

                   Open         High          Low        Close      Volume
Date
2022-06-24  3821.750000  3913.649902  3821.750000  3911.739990  6742870000
2022-06-27  3920.760010  3927.719971  3889.659912  3900.110107  3385120000
2022-06-28  3913.000000  3945.860107  3820.139893  3821.550049  3590980000
2022-06-29  3825.090088  3836.500000  3799.020020  3818.830078  3458850000
2022-06-30  3785.989990  3818.989990  3738.669922  3785.379883  4032260000

In [ ]:
sp500_df.to_csv('S&P_500.csv',float_format='%.2f')

In [ ]:
SP500 = pd.read_csv(
    Path("S&P_500.csv"), 
    index_col='Date', 
    infer_datetime_format=True, 
    parse_dates=True
)

# Review the DataFrame
SP500.tail(20)

               Open     High      Low    Close      Volume
Date
2022-06-02  4095.41  4177.51  4074.37  4176.82  3604930000
2022-06-03  4137.57  4142.67  4098.67  4108.54  3107080000
2022-06-06  4134.72  4168.78  4109.18  4121.43  3852050000
2022-06-07  4096.47  4164.86  4080.19  4160.68  3476470000
2022-06-08  4147.12  4160.14  4107.20  4115.77  3090180000
2022-06-09  4101.65  4119.10  4017.17  4017.82  3192330000
2022-06-10  3974.39  3974.39  3900.16  3900.86  3936120000
2022-06-13  3838.15  3838.15  3734.30  3749.63  4572820000
2022-06-14  3763.52  3778.18  3705.68  3735.48  4126400000
2022-06-15  3764.05  3837.56  3722.30  3789.99  4474610000
2022-06-16  3728.18  3728.18  3639.77  3666.77  4511200000
2022-06-17  3665.90  3707.71  3636.87  3674.84  6954110000
2022-06-21  3715.31  3779.65  3715.31  3764.79  4124600000
2022-06-22  3733.89  3801.79  3717.69  3759.89  4342270000
2022-06-23  3774.71  3802.58  3743.52  3795.73  4078100000
2022-06-24  3821.75  3913.65  3821.75  3911.74  6742870000
2022-06-27  3920.76  3927.72  3889.66  3900.11  3385120000
2022-06-28  3913.00  3945.86  3820.14  3821.55  3590980000
2022-06-29  3825.09  3836.50  3799.02  3818.83  3458850000
2022-06-30  3785.99  3818.99  3738.67  3785.38  4032260000

In [ ]:
# Filter the date index and close columns
SP500 = SP500.loc[:, ["Close"]]

# Use the pct_change function to generate  returns from close prices
SP500["Actual Returns"] = SP500["Close"].pct_change()

# Drop all NaN values from the DataFrame
SP500 = SP500.dropna()

# Review the DataFrame
display(SP500.tail(20))

              Close  Actual Returns
Date
2022-06-02  4176.82        0.018431
2022-06-03  4108.54       -0.016347
2022-06-06  4121.43        0.003137
2022-06-07  4160.68        0.009523
2022-06-08  4115.77       -0.010794
2022-06-09  4017.82       -0.023799
2022-06-10  3900.86       -0.029110
2022-06-13  3749.63       -0.038768
2022-06-14  3735.48       -0.003774
2022-06-15  3789.99        0.014593
2022-06-16  3666.77       -0.032512
2022-06-17  3674.84        0.002201
2022-06-21  3764.79        0.024477
2022-06-22  3759.89       -0.001302
2022-06-23  3795.73        0.009532
2022-06-24  3911.74        0.030563
2022-06-27  3900.11       -0.002973
2022-06-28  3821.55       -0.020143
2022-06-29  3818.83       -0.000712
2022-06-30  3785.38       -0.008759

In [ ]:
# windows
short_window = 50
long_window = 100

# fast and slow SMA (50 and 100 days)
SP500['SMA_Fast'] = SP500['Close'].rolling(window=short_window).mean()
SP500['SMA_Slow'] = SP500['Close'].rolling(window=long_window).mean()

SP500 = SP500.dropna()

# Review the DataFrame
display(SP500.tail(20))

              Close  Actual Returns   SMA_Fast   SMA_Slow
Date
2022-06-02  4176.82        0.018431  4256.2194  4340.4681
2022-06-03  4108.54       -0.016347  4249.2654  4334.8506
2022-06-06  4121.43        0.003137  4241.2908  4328.9342
2022-06-07  4160.68        0.009523  4233.6432  4323.2775
2022-06-08  4115.77       -0.010794  4224.4482  4317.8449
2022-06-09  4017.82       -0.023799  4212.1726  4311.3946
2022-06-10  3900.86       -0.029110  4198.1408  4304.6321
2022-06-13  3749.63       -0.038768  4182.5252  4296.8008
2022-06-14  3735.48       -0.003774  4166.3176  4289.3283
2022-06-15  3789.99        0.014593  4150.4646  4283.2488
2022-06-16  3666.77       -0.032512  4133.2976  4275.8152
2022-06-17  3674.84        0.002201  4117.1714  4268.9991
2022-06-21  3764.79        0.024477  4102.4630  4263.1477
2022-06-22  3759.89       -0.001302  4087.8952  4257.4815
2022-06-23  3795.73        0.009532  4075.5592  4251.1203
2022-06-24  3911.74        0.030563  4065.8450  4245.0822
2022-06-27  3900.11       -0.002973  4054.9154  4238.6179
2022-06-28  3821.55       -0.020143  4043.4946  4230.9396
2022-06-29  3818.83       -0.000712  4032.0374  4224.3535
2022-06-30  3785.38       -0.008759  4018.5008  4217.2020

In [ ]:
sp500_shortma = SP500.drop(columns = ['Actual Returns', 'SMA_Fast', 'Close'])
sp500_shortma = sp500_shortma.reset_index()
display(sp500_shortma)

            Date   SMA_Slow
0     1950-05-26    17.5329
1     1950-05-29    17.5516
2     1950-05-31    17.5701
3     1950-06-01    17.5880
4     1950-06-02    17.6051
...          ...        ...
18137 2022-06-24  4245.0822
18138 2022-06-27  4238.6179
18139 2022-06-28  4230.9396
18140 2022-06-29  4224.3535
18141 2022-06-30  4217.2020

[18142 rows x 2 columns]

In [ ]:
#import train_test_split function
from sklearn.model_selection import train_test_split

#ASK IF CORRECT FOR X, y
#set targets and features
featuresx = sp500_shortma[['Date']]

targety = sp500_shortma[['SMA_Slow']]

In [ ]:
from sklearn.preprocessing import StandardScaler
StdS_X = StandardScaler()
StdS_y = StandardScaler()
featuresx = StdS_X.fit_transform(featuresx)
targety = StdS_y.fit_transform(targety)

In [ ]:
training_features, testing_features, training_targets, testing_targets = train_test_split(featuresx, targety)

In [ ]:
#initialting the model
svr_model = SVR(kernel = 'linear', C = 10)

In [ ]:
#fitting the data to the model
svr_model.fit(training_features, training_targets)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=10, kernel='linear')

In [ ]:
pred_y = svr_model.predict(training_features)
print(pred_y)

[ 0.79889444 -0.02603022  0.84335487 ...  0.43505306  0.08573272
  0.33487432]

In [ ]:
# Need to figure out y_test and pred_y****